<h2><%= book.title %></h2>
<div>
    <div>
        <img src="<%= book.coverImagePath %>" height="150" />
    </div>
    <div>
        <% if (book.author != null) { %>
        <div>Author: <%= book.author.name %></div>
        <% } %>
        <div>Publish Date: <%= book.publishedDate.toDateString() %></div>
        <div>Page Count: <%= book.pageCount %></div>
        <div>Description: <%= book.description %></div>
    </div>
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %> <% if (book.author != null) { %>
    <a href="/authors/<%= book.author.id %>">View Author</a>
    <% } %>
</div>
